# Dependencies
node_modules
npm-debug.log

# Build output
dist
build
.firebase

# Environment files
.env
.env.*
!.env.example

# Development files
.git
.gitignore
README.md
*.log

# Editor directories
.idea
.vscode

# Testing
coverage
.nyc_output

# System Files
.DS_Store
Thumbs.db